:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color4);
  color: #434455;
  background-color: #fff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
}

/**----------------HEADER--------------*/

.header-logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-color {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-menu-link {
  color: var(--navyblue, #2e2f42);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean, #404bbf);
}

.header-address {
  font-style: normal;
}
.header-soc-link {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-soc-link:hover,
.header-soc-link:focus {
  color: var(--ocean, #0015ff);
}

/**----------------HERO-------------*/
.hero {
  background-color: var(--navyblue, #2e2f42);
}
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  /* Header 1 */
  font-size: 56px;

  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  color: var(--white, #fff);
  /* Button Text */
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris, #4d5ae5);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/**------------------ADVANTAGES------------*/
.advantages-sub-title {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-item-text {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.doing-title {
  color: var(--navyblue, #2e2f42);
  /* Header 2 */
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/**-----------TEAM-----------------*/
.team {
  background: var(--cloud, #f4f4fd);
}
.team-title {
  color: var(--navyblue, #2e2f42);
  /* Header 2 */
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-item {
  background: var(--white, #fff);
}
.team-our-title {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-item-text {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**-----------------FOOTER-----------------*/

.footer {
  background: var(--navyblue, #2e2f42);
}
.footer-logo {
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-color {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-item-text {
  color: var(--cloud, #f4f4fd);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/***------------PORTFOLIO-------------*/

/**-----------------GALERY-----------*/
.galery-btn-list {
  text-decoration: none;
}
.btn-item {
  color: var(--iris, #4d5ae5);
  /* Button Text */
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
}
.btn-item:hover,
.btn-item:focus {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
}
.section-galery-title {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-galery-text {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
